<template name="Datagrid">
  <div class="container datagrid pt mt">
    <h1>Datagrid</h1>
    <hr>


    <div class="row">
        {{#if dataPickedYet }} 
            <div class="row">
            <div class="col-xs-3 col-xs-offset-9">
                <!-- order by -->
                <!-- <span style="float: right; margin-top: 10px; margin-bottom: 10px;"> -->
                   <!--  <h5>Order:</h5> 
                        <select id="order" class="form-control">
                            <option value="cell_type_y form-control" selected="selected">by Cell Type</option>
                            <option value="cell_type_category_y form-control">by Cell Type Category</option>
                            <option value="institution_y form-control">by Consortium</option>
                        </select>  -->
                  <!-- </span> -->
                    <!-- end -->
                </div>
            </div>
    	   {{> Grid}}
        {{ else }}
            <h3 class='centered'> Filter data by selecting Tissue and Assay Category </h3>
            <p class='centered'>For Example, Tissues -> Cancer Cells -> K562</p>
            <p class='centered'> Assay Categories -> Transcription Factor Binding Sites</p>
        {{/if}}
    </div>	

    
    <div class="row"> 
        <div class="col-xs-7">
            {{> Tissues}}
        </div>
        <div class="col-xs-5">
            {{> AssayCategories}}
        </div>
    </div>

    <div class="row"> 
    	<div class="col-xs-7">
    		{{> Consortium}}
    	</div>
    	<div class="col-xs-5">
    		{{> Overview}}
    	</div>
    </div>

    {{#if dataPickedYet }} 
    <div class="row">
    	{{> SelectedDatasets}}
    </div>
    {{/if}}

    <!-- {{#if readyForBrowser }}	
    <div class="row centered">
        <a href="/heatmap" id='datasetToBrowser' class='btn btn-success'>Apply Changes <i class="fa fa-thumbs-up"></i></a>
    </div>
    {{/if}} -->

  </div>
</template>
