<template name="Datagrid">
  <div class="container datagrid pt mt">
    <h1>Datagrid</h1>

    <div class="row">
    	<div class="col-xs-6">
    		<h5>Header goes here ...</h5>
    	</div>
    	<div class="col-xs-3 col-xs-offset-2">
    		<!-- order by -->
    		<span style="float: right; margin-top: 10px; margin-bottom: 10px;">
                <h5>Order:</h5> 
                  	<select id="order" class="form-control">
                        <option value="cell_type_y form-control" selected="selected">by Cell Type</option>
                        <option value="cell_type_category_y form-control">by Cell Type Category</option>
                        <option value="institution_y form-control">by Consortium</option>
                    </select> 
              </span>
    		<!-- end -->
    	</div>
    </div>

    <div class="row"> 
    	{{> Grid}}
    </div>	

    
    <div class="row"> 
        <div class="col-xs-6">
            {{> Tissues}}
        </div>
        <div class="col-xs-6">
            {{> AssayCategories}}
        </div>
    </div>

    <div class="row"> 
    	<div class="col-xs-6">
    		{{> Consortium}}
    	</div>
    	<div class="col-xs-6">
    		{{> Overview}}
    	</div>
    </div>


    <div class="row">
    	{{> SelectedDatasets}}
    </div>			 

  </div>
</template>
