<template name="genomeView">
	<div class="container">
        <div class="row pt mt">
            <div class="col-xs-12">
				<h1>Genome View</h1>
                {{#if pageReady }}
					{{> slider}}
				{{else}}
                    <div class="row pt mt">
            			<div class="col-xs-4">
            				<h5><a href="#">Generating view ...</a></h5>		{{> Loading}}
                   		</div>
                   	</div>
                {{/if}}
                <div id="wait" class='row centered hidden'>Updating ... </div>
                <div id="genomeviewArtboard"></div>

            </div>
        </div>
	</div>
</template>