@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

svg *::selection {
    background : transparent;
}

svg *::-moz-selection {
    background:transparent;
}

svg *::-webkit-selection {
    background:transparent;
}

#genomeviewArtboard {
     background-color: #fafcfd;
     border-radius: 10px;
     border-style: solid;
     border-width: 2px;
     border-color: '#e6e6e6';
}

text {
    fill: #000;
}

rect.chr {
	fill:black;
	stroke:pink;
	stroke-width:5;
    stroke-location: outside;
	fill-opacity:1.0;
	stroke-opacity:0.9;
}

text .mono {
    font-size: 3px;
    font-family: 'Montserrat', Consolas, courier;
    fill: '#dfdfdf';
}

