<template name="Consortium">
  <div class="consortium row centered panel-gap">
     
         <div class="panel panel-info">
          <div class="panel-heading"><h3> Track Hubs </h3></div>
          <div class="panel-body">
            
            <div id="institution_div">
              <table class="table">
                <thead>
                  <tr class='info'>
                    <th><input type="checkbox" id='chkall'></th>
                    <th>&nbsp;</th>
                    <th>Consortium</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th><input type="checkbox" id='chkencode' selected></th>
                    <th bgcolor= "#EDC613"></th>
                    <th>ENCODE</th>
                  </tr>
                  <tr>
                    <th><input type="checkbox" id='chkroadmap' disabled></th>
                    <th bgcolor="#2DD4CA"></th>
                    <th>ROADMAP</th>
                  </tr>
                </tbody>
              </table>
          </div>
         </div>
    </div>
</div>
</template>
