@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);
/*
.jstree-default {
    display: block;
    float: left;
    margin-left: 150px;
    margin-top: 50px;
}*/

.jstree-default .jstree-no-dots .jstree-closed > ins {
    background-position: 0 4px;
}

.jstree a {
    width: 250px;
    text-align: left;
}

form {
	margin-top: 20px;
}

.instructions {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}
