<template name="select_te">
<div class="container pt">
    
        <div class="row">
        <div class="col-sm-5">
            <div class="jumbotron mt pt centered">
            <h3>Select Repeat subfamilies </h3>
            <h4>to include in this analysis</h4>
            <form id="s">
                <input class="form-control" type="search" id="q" placeholder="LINE" />
                <br/>
                <button class="btn btn-info" type="submit">Search</button>
            </form>
            <hr>
            <a href="/heatmap" type="button" id="jsDoneSelectTE" class="btn btn-warning" style="margin-top: 20px">Done selecting</a>
            </div><!-- end jumbotron -->
    </div> 
        <div class="col-sm-7 mt pt" id="tree"></div>
        
        </div>
    
</div>
</template>