<template name="Home">
    <!--<div class="container pt mt">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->

                <!--{{#panel title="Data information and statistics" footer="Last update: 21.11.2015" footerRight="You have two new datasets to review" }}-->

                <!--<div class="row">-->
                    <!--<div class="col-md-3 text-center">-->
                        <!--<div class="small">-->
                            <!--<i class="fa fa-bolt"></i> Datasets-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<h1 class="font-extra-bold m-t-xl m-b-xs">-->
                                        <!--2,268-->
                                    <!--</h1>-->
                            <!--<small>Datasets processed in last month</small>-->
                        <!--</div>-->
                        <!--<div class="small m-t-xl">-->
                            <!--<i class="fa fa-clock-o"></i> Data from November-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                        <!--<div class="text-center small">-->
                            <!--<i class="fa fa-laptop"></i> Active users in current month (December)-->
                        <!--</div>-->
                        <!--<div class="flot-chart" style="height: 160px">-->
                            <!--<div class="flot-chart-content" id="flot-line-chart"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 text-center">-->
                        <!--<div class="small">-->
                            <!--<i class="fa fa-clock-o"></i> Active duration-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<h1 class="font-extra-bold m-t-xl m-b-xs">-->
                                        <!--1 Month-->
                                    <!--</h1>-->
                            <!--<small>And two weeks</small>-->
                        <!--</div>-->
                        <!--<div class="small m-t-xl">-->
                            <!--<i class="fa fa-clock-o"></i> Last active in 11.21.2015-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--{{/panel}}-->

            <!--</div>-->
        <!--</div>-->

    <!--</div>-->

    {{> Loading}}

    <div id="ww">
        <div class="container pt mt pagecentered">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <!--<img src="{{getAdminImage}}" alt="{{getAdminImage}}">-->
                    <h1>Welcome to Wash U Repeat Browser!</h1>
                    <p>The Wash U Repeat Browser web-based portal is a one-stop solution for the exploration of histone modification data from multiple tissue/cell types from multiple sources.
                    </p>
                    <p>
                        The provided user-friendly tools allow to explore ChIP -based data in any combination of species, tissues and developmental stages, thus leading to the rapid discovery and hypothesis-building of underlying relations and regulatory mechanisms.
                    </p>
                    <p>The developed technology also allows for unlimited further expansion of the data content and provides an environment for the design of novel tools following the needs of community involved in the exploration of TE biology.</p>
                    <hr>
                    <a href="/genome" type="button" class="btn btn-warning">Try it now <span class="glyphicon glyphicon-send" style="font-size: 15px"></span></a>

                </div>
                <!-- /col-lg-8 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /ww -->


</template>