<template name="Heatmap">
    {{> Loading}}
    <div id="tooltip" class="hidden">
        <table class="table">
            <tr>
                <th><span class="pull-left"><a href="#">Experiment : </a></span></th>
                <th><span id="experiment"></span></th>
            </tr>
            <tr>
                <th><span class="pull-left"><a href="#">Repeat Subfamily : </a></span></th>
                <th><span id="repeat-subfamily"></span></th>
            </tr>
        </table>
        <p><span id="score"></span></p>
        <p><span id="max"></span></p>
        <p><span id="min"></span></p>
        
        <p><span><a href="#">Click to View Details</a></span></p>
    </div>
    <div class="container">
        <div class="row pt mt">
            <div class="col-lg-4 col-lg-offset-4">

            </div>
        </div>


    <div class="row">
        <div id="main" style='overflow:auto; width:{{getWidth}}px; height:{{getHeight}}px;'></div>
    </div>
    </div>
    <!--container-->
</template>