<template name="GenomeGraph">
    <div class="container jumbotron pt mt">
        <div class="row">
            {{> pageHeader title="Consensus View" desc="Browser panel for displaying sequencing data on TE consensus" category="App views" }}
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{#panel title="Details View"}}
                        <div class="row">
                                <div class="col-sm-2 col-sm-offset-1">
                                    <div class="hpanel plan-box">
                                        <div class="panel-body hbuilt text-center">
                                            <h4 class="font-bold">HeLa-S3 STAT1 IFNg30 Yale</h4> over <h4>MER41B</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-sm-offset-5">
                                    <div class="panel-body text-center">
                                        <a href="/bev01" class="btn btn-info btn-sm">Go to Genome Context View</a>
                                    </div>
                                </div>
                        </div>
                        {{ > Treatment1 }}
                        {{ > Treatment2 }}

                        {{ > Input }}


                    {{ > Template.dynamic template="Density" data=graphData.density }}

                    {{ > Template.dynamic template="ConsensusSeq" data=graphData.consensusseq }}


                {{/panel}}
            </div>
        </div>
    </div>
</template>