/*****************************************************************************/


/* Footer: Style */


/*****************************************************************************/


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #2f2f2f;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}




#footer {
    bottom: 0;
    width: 100%;
    background-color: #2f2f2f;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer p {
    color: white;
}

.footer h4 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}