<template name="Footer">
    <!-- +++++ Footer Section +++++ -->

    <!--
    <div class="footer">
        <div class="container pt">
            <div class="row">
                <div class="col-lg-4">
                    <p>
                        Washington University Department of Genetics
                        <br/> +(314) 362-2156,
                        <br/> 4444 Forest Park Avenue
                        <br/> Campus Box 8510, Room 6203
                        <br/> St. Louis, MO 63108
                    </p>
                </div>
                

                <div class="col-lg-4">
                    <h4>Useful Links</h4>
                    <p>
                        <a href="https://github.com/debugpoint136/rb">Github</a>
                        <br/>
                        <a href="#">Twitter</a>
                        <br/>
                        <a href="#">Facebook</a>
                        <br/>
                        <a href="/admin">Admin Login</a>
                    </p>
                </div>
                

                <div class="col-lg-4">
                    <h4>About Repeat Browser</h4>
                    <p>A portal dedicated to comparative data mining and detection of TE-derived enhancers and target gene relationships, based on epigenomics-approach</p>
                </div>
                

            </div>

        </div>
    </div>
-->
    <!--+++++++++++++++++++++++++++++++-->

    <div class="navbar-bottom row-fluid footer">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p>
                            Washington University Department of Genetics
                            <br/> +(314) 362-2156,
                            <br/> 4444 Forest Park Avenue
                            <br/> Campus Box 8510, Room 6203
                            <br/> St. Louis, MO 63108
                        </p>
                    </div>


                    <div class="col-lg-4">
                        <h4>Useful Links</h4>
                        <p>
                            <a href="https://github.com/debugpoint136/rb">Github</a>
                            <br/>
                            <a href="#">Twitter</a>
                            <br/>
                            <a href="#">Facebook</a>
                            <br/>
                            <a href="/admin">Admin Login</a>
                        </p>
                    </div>


                    <div class="col-lg-4">
                        <h4>About Repeat Browser</h4>
                        <p>A portal dedicated to comparative data mining and detection of TE-derived enhancers and target gene relationships, based on epigenomics-approach</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>