<template name="Tissues">
	<div class=" row pt centered panel-gap">
     	
         <div class=" panel panel-success">
          <div class="panel-heading"><h3> Tissues </h3></div>
          <div class="panel-body centered">

        <ul class="nav nav-pills nav-justified">
          <li class="active"><a data-toggle="tab" href="#adult">Adult Cells/Tissues</a></li>
          <li><a data-toggle="tab" href="#cancer">Cancer Cells</a></li>
          <li><a data-toggle="tab" href="#ips">ES / iPS Cells</a></li>
          <li><a data-toggle="tab" href="#fetal">Fetal Cells/ Tissues</a></li>
        </ul>
        <p></p>
          <div class="tissues centered tab-content">
            <div id="adult" class="tab-pane fade in active">
              <!-- start -->
              <h3> </h3>
              {{> TissuesAdult }}
              <!-- end -->  
            </div> 
            <div id="cancer" class="tab-pane fade">
              <!-- start -->
              <h3> </h3>
              {{> TissuesCancer}}
              <!-- end -->  
            </div>
            <div id="ips" class="tab-pane fade">
              <!-- start -->
              <h3> </h3>
              {{> TissueESiPS }}
              <!-- end --> 
            </div>
            <div id="fetal" class="tab-pane fade">
              <!-- start -->
              <h3> </h3>
              {{> TissueFetal }}
              <!-- end --> 
            </div>
          </div> <!-- end="tab-content" -->
          </div>
            
         </div>
    </div>
</template>
